<!--The content below is only a placeholder and can be replaced.-->
<!-- <header class="container-full header"> -->
<header class="container-full header">
  <div class="container f0">
      <div class="item ph12 md4 i-b v-top p_25">
        <h1 class="logo">Soporte</h1>
      </div>

      <!--Begin Pattern HTML-->
      <a href="#menu" class="menu-link"><i class="fa fa-bars f3"></i></a>
      <nav class="item ph12 md8 i-b v-top" id="menu" role="navigation">
        <ul>
          <li><a href="#">Teléfonos</a></li>
          <li><a href="#">Teléfonos</a></li>
          <li><a href="#">Teléfonos</a></li>
        </ul>
      </nav>
    <!--End Pattern HTML-->

  </div>
</header>

<!-- <section class="container flex flex-column flex-wrap center">
  <router-outlet></router-outlet>
</section> -->

<footer class="flex flex-row flex-nowrap center">
  <div class="item flex-auto p_25">
    Derechos reservados a <a href="#">@litoos11</a> &copy; 2016-2017
  </div>
</footer>

